.contact {
    background-image: url(../styles/hian-oliveira-7-gtkXm2b5U-unsplash.jpg);
    height: 40rem;
    background-position: center;
    background-size: cover;
    font-size: 2rem;
    text-align: center;
}