.header {
  /* width: 100%; */
  display: flex;
  background-color: darkred;
  height: 20vh;
  justify-content: flex-end;
  align-items: center;
}

.header > * {
  color: black;
  margin: 0 1rem;
}

ul a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.logo{
    width: 10%;
    height: auto;
}
.header-container{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    background-color: darkred;
}